h1, h2, h3{
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif ;
}



#sobretexto {
    color: aqua;
}

.initial-conteiner{
    position: relative;
    background-image: url(https://cdn.discordapp.com/attachments/1143674943805063258/1143680039859265717/city_pop.gif);
    transition: 250ms;
}