

body{
    min-height: 100%;
    width: 100%;
    font-family: "Helvetica Now Display DW",sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5625rem;
    font-weight: 500;
    letter-spacing: normal;
    -webkit-text-size-adjust: 100%;
    color: black;
    overflow-x: hidden;
    background-color: #a0a0a0;
    margin: 0;
}

.bg-image{
    
    
}

.home-top{
    background: url(https://cdn.discordapp.com/attachments/1143674943805063258/1143680039859265717/city_pop.gif);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    transition: 250ms;
}

.h2, h1, h1.large, h2, h3 {
    box-sizing: border-box;
    font-family: "Helvetica Now Display DW",sans-serif;
    font-weight: 800;
    letter-spacing: -.01em;
    color: #0f141e;
}

#sup{
    display: inline;
    float: left;
}

#sup a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#sup a:hover:not(.active){
    background-color: #4b4b4b;
}

.active{
    background-color: #a55bb4;
}

.menu_ul{
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.menu{
 margin: 0;
 padding: 0;   
}

.bottom{
    font-size: 15px;
    color:rgb(165, 165, 165);
    letter-spacing: 0.1px;
    padding-left: 50%;

}


.h1.large_nome, h1.large_nome.large_nome {
    font-size: 3.875rem;
    line-height: 3rem;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    padding: 15%;
}


.texto{
    width: 750px;
}

.bg-projects{
    
    text-align: left;
    padding-left: 5%;
}

.logo{
    padding: 30px;
}

.logo a:hover{
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    display:inline-block;
    opacity: 0.5;
}


.item-portfolio{

    display: inline-block;
    padding-top: 2%;
}


#img1, #img3{
    width: 670px;
    height: 660px;
}

#img2, #img4{
    margin-left: 6.7%;
    width: 670px;
    height: 660px;
}

.item-portfolio a:hover{
    
    opacity: 0.5;
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
}

.end-page{
    padding-left: 5%;
}

li{
    color: gray;
    list-style-type: none;
}

a, span{
    color: #0f141e;
    text-decoration: none;
    
}

#logo-end{
    opacity: 50%;
    padding-top: 15%;
}

.contato, .social-media{
    display: inline-block;
}

.social-media{
    padding-left: 65%;
}

.logo-end-page{
    display:flex;
}

.copyright{
    color: gray;
    padding-left: 2%;
}



